.listingSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experienceItem {
  background-color: rgb(210, 234, 255);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.descriptionItem {
  background-color: rgb(231, 231, 231);
  margin: 5px 0px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addButton {
  display: flex;
  justify-content: flex-end;
}