.skillsListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
}

.listingSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skillItem {
  background-color: rgb(210, 234, 255);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.skillItemPercentAndCTA {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.educationItem {
  background-color: rgb(210, 234, 255);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.educationItemCtaContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.addButton {
  display: flex;
  justify-content: flex-end;
}

.addEducationButton {
  padding: 10px 0px;
}