.container {
    flex: 1;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
.nameContainer {
    color: #1c1c1c;
    font-weight: 800;
    display: flex;
    flex-direction: row;
}
.surname {
    color: #0BBFF4;
}
.designation {
    color: #404040;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.detailSection {
    margin-top: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.titleSection {
    padding: 5px;
    background-color: #C6EBFC;
    width: 100%;
    font-weight: 700;
}
.description {
    padding-top: 10px;
    font-weight: 400;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 20px;
}
.leftSection {
    flex: 6;
    padding-right: 30px;
}
.rightSection {
    flex: 3;
}
.imageSquare {
    width: 100%;
    aspect-ratio: 1;
    background-color: rgb(168, 168, 168);
}

.workItem {
    padding-top: 20px;
}
.workSubTitle {
    margin-top: 5px;
}
.workDetails {
    margin-top: 3px;
    line-height: 21px;
}
.workDescriptionItem {
    display: flex;
    flex-direction: row;
}
.workDescriptionItemIndicator {
    margin-right: 5px;
}

.skillsSection {
    padding-top: 20px;
}
.skillsListContainer {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}
.skill {
    background-color: #86d9ff;
    padding: 8px 15px;
    border-radius: 100px;
    color: #404040;
}

.referencesSection {
    padding-top: 20px;
}
.referenceListContainer {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
.reference {
    flex: 1;
}

.personalInfoSection {
    padding-top: 20px;
}
.personalInfoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon {
    margin-right: 5px;
}

.educationSection {
    padding-top: 20px;
}
.educationItem {
    padding-top: 10px;
}